

:root { /* Globals */
  --main-fill: #8BB4DC;
  --main-border: #95C5F5;
  --secondary-fill: #7BAFE0;
  --bg-fill: #D3E0F0;
  --bg-border: #B0C9E5;
  --text-on-bg: #FFFFFF;
}
 
html, body {
  height: 100%;
  margin: 0;
}

/**************** Quick Settings ****************/

.default-shadow {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
}
.color-bg {
  background-color: var(--bg-fill);
}
.bg-image img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

/**************** Container Types ****************/
.container-fit-to-screen {
  width: 100vw; /* */
  height: 100vh;
  position: relative;

  background: linear-gradient(to top, var(--bg-fill) 43%, var(--bg-border) 95%);
}


.container-borderfill {
  position: relative;
  width: 100%;
  height: 300px;
  background: var(--main-border);
}

.container-logo {
  color: var(--text-on-bg);
  position: absolute;

  height: 50px;
  width: 200px;

  display: flex;
  align-items: center;
  gap: 10px;
}

/**************** Text Settings ****************/
.textstyle-standard {
  color: var(--text-on-bg);

  font-family: "Times New Roman", serif;
  font-size: 24px;
  font-weight: normal;
}
.button-style1 {
  box-sizing: border-box;
  background-color: var(--main-fill);
  border: 5px solid var(--main-border);

  padding: 12px 24px;
  height: 50px;

  border-radius: 5px;
  transform: translate(-50%, -50%);

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
