

:root { /* Globals */
  --main-fill: #8BB4DC;
  --main-border: #95C5F5;
  --main-border-transparent: #95C5F586;
  --secondary-fill: #7BAFE0;
  --bg-fill: #D3E0F0;
  --bg-border: #B0C9E5;
  --text-on-bg: #FFFFFF;
  --text-on-bg-disable: #ffffff86;
}
 
html, body {
  height: 100%;
  margin: 0;

  scrollbar-color: var(--text-on-bg) transparent;
  scrollbar-width: thin;
}

body * {
  color: var(--text-on-bg);

  font-family: "Times New Roman", serif;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}
button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 25px;
  height: 25px;
}

::-webkit-scrollbar-track {
  background: transparent;  
  /*border-radius: 10px;*/
}

::-webkit-scrollbar-thumb {
  background: var(--text-on-bg);
  /*border-radius: 10px;*/
  /*border: 3px solid #f1f1f1;*/
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-on-bg-disable);
}

ol {
  list-style-type: none;
  padding-left: 0px;
  padding-top: 0px;
}

ol li {
  margin-bottom: 5px;
}

/**************** Quick Settings ****************/

.default-shadow {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
}
.color-bg {
  background-color: var(--bg-fill);
}
.bg-image img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.center-items {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.text-with-many-words {
  overflow-y: scroll;
  overflow-x: hidden;

  text-align: left;

  white-space: pre-line;
  overflow-wrap: break-word;
}

.parent-height-ratio-1-1 {
  height: 100%;
  aspect-ratio: 1 / 1;
}
/**************** Container Types ****************/
.container-fit-to-screen {
  width: 100vw;
  height: 100vh;
  position: relative;

  background: linear-gradient(to top, var(--bg-fill) 43%, var(--bg-border) 95%);
}
.container-fit-to-container {
  position: absolute;

  margin: 0px;
  padding: 0px;

  top: 0px;
  left: 0px;
  right: auto;
  bottom: auto;

  width: 100%;
  height: 100%;
  background: none;
  border: none;
}


.container-mainfill {
  border-radius: 5px;
  background-color: var(--main-fill);
}
.container-secondaryfill {
  border-radius: 5px;
  background-color: var(--secondary-fill);
}
.container-borderfill {
  border-radius: 5px;
  background-color: var(--main-border);
}

.container-secondaryfillbordered {
  background-color: var(--secondary-fill);
  border: 5px solid var(--main-border);
}
.container-logo {
  color: var(--text-on-bg);
  position: absolute;

  height: 50px;
  width: 200px;

  display: flex;
  align-items: center;
  gap: 10px;
}
.button-style1 {
  box-sizing: border-box;
  background-color: var(--main-fill);
  border: 5px solid var(--main-border);

  padding: 12px 24px;
  height: 50px;

  border-radius: 5px;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;
}
.container-ticket {
  position: relative;

  border-radius: 5px;
  border: none;
  background: var(--secondary-fill);

  height: 50px;
  width: calc(100% - 10px);

  cursor: pointer;
}
.container-ticket .primary {
  position: absolute;
  transform: translate(0%, -50%);
  background: none;

  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  left: 5px;
  top: 50%;


  height: 30px;
  width: calc(80% - 65px);
}

.container-ticket .secondary {
  position: absolute;
  background: none;

  left: calc(80% - 55px);

  height: 100%;
  width: calc(20% + 50px);

  text-align: center;
}

.container-ticket .border {
  position: absolute;
  background: var(--main-border);

  top: 5px;
  /*left: calc(80% - 55px); is set manually*/

  height: calc(100% - 10px);
  width: 5px;
  border-radius: 5px;
}

.container-ticket img {
  position: absolute;
  top: 5px;
  left: 5px;

  height: calc(100% - 10px);
  aspect-ratio: 1 / 1;
}

/* special container styles
  so if you just wanwt a header for your container do
  a
  b
  c
  
  if you want a buttons at the bottom, you want to do
  a
  b
  d
  e
  f

  if you want to do a b c, but with a button next to the title
  g
  h
  c
  i <-- the button

*/
.container-headertextstyle.a {
  position: absolute;
  top: 5px;
  left: 5px;

  height: 30px;
  width: calc(100% - 10px);
  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container-headertextstyle.b {
  position: absolute;
  top: 35px;
  left: 5px;

  background: var(--main-border-transparent);
  border-radius: 5px;


  height: 5px;
  width: calc(100% - 10px);
}
.container-headertextstyle.c {
  position: absolute;

  top: 45px;
  left: 5px;
  
  height: calc(100% - 50px);
  width: calc(100% - 10px);

  overflow-y: auto;
  overflow-x: hidden;

  text-align: left;

  white-space: pre-line;
  overflow-wrap: break-word;
}
.container-headertextstyle.d {
  position: absolute;

  top: 45px;
  left: 5px;
  
  height: calc(100% - 115px);
  width: calc(100% - 10px);

  overflow-y: auto;
  overflow-x: hidden;

  text-align: left;

  white-space: pre-line;
  overflow-wrap: break-word;
}
.container-headertextstyle.e {
  position: absolute;
  bottom: calc(60px);
  left: 5px;

  background: var(--main-border-transparent);
  border-radius: 5px;


  height: 5px;
  width: calc(100% - 10px);
}
.container-headertextstyle.f {
  position: absolute;
  bottom: 5px;
  left: 5px;

  height: 50px;
  width: calc(100% - 10px);
  
  display: flex;
  align-items: center;
  justify-content: left;
}
.container-headertextstyle.f button {
  position: relative;
  transform: none;
  margin-left: 5px;
}
.container-headertextstyle.g {
  position: absolute;
  top: 5px;
  left: 45px;

  height: 30px;
  width: calc(100% - 50px);
  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container-headertextstyle.h {
  position: absolute;
  top: 35px;
  left: 45px;

  background: var(--main-border-transparent);
  border-radius: 5px;


  height: 5px;
  width: calc(100% - 50px);
}
.container-headertextstyle.i {
  position: absolute;
  top: 5px;
  left: 5px;

  height: 35px;
  width: 35px;
  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
  
/* prompt container styles */
.container-prompt {
  position: absolute;
  transform: translate(-50%, -50%);

  background-color: var(--bg-fill);
  border: 2px solid var(--bg-border);
  border-radius: 5px;

  top: 50%;
  left: 50%;

  width: calc(300px + 10%);
  height: calc(200px + 10%);

  z-index: 1000;
}

.container-prompt * {
  color: var(--main-fill);
  background: none;
  border: none;
}

.container-prompt .headertitle {
  position: absolute;
  top: 5px;

  height: 50px;
  width: 100%;
}

.container-prompt .maincontent {
  position: absolute;
  top: 60px;
  left: 5px;

  height: calc(100% - 120px);
  width: calc(100% - 10px);
}
.container-prompt .maincontent .prompttitle {
  position: absolute;
  
  left: 0px;
  top: 0px;

  background-color: var(--main-fill);
  border-radius: 5px;
  padding: 0px;

  height: 30px;
  width: 100%;

  color: var(--text-on-bg);
}
.container-prompt .maincontent .prompdescription {
  position: absolute;

  background-color: var(--main-fill);
  border-radius: 5px;
  border: none;
  padding: 5px;

  left: 0px;
  top: 35px;

  height: calc(100% - 40px);
  width: calc(100% - 10px);

  color: var(--text-on-bg);
}
.container-prompt .buttoncontainer {
  position: absolute;
  bottom: 5px;
  left: 5px;

  height: 50px;
  width: calc(100% - 10px);
}
.container-prompt .buttoncontainer .left {
  position: absolute;
  left: 0px;

  height: 100%;
}
.container-prompt .buttoncontainer .right {
  position: absolute;
  right: 0px;

  height: 100%;
}

/**************** Text Settings ****************/
.textstyle-standard { /* kept here so you may re-apply it */
  color: var(--text-on-bg);

  font-family: "Times New Roman", serif;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}


.spinner {
  transform: translate();
  position: absolute;
  top: 50%;
  left: 50%;

  width: 25px;
  height: 25px;

  border: 5px solid var(--text-on-bg);
  border-top: 5px solid transparent;
  border-radius: 50%;
  
  animation: spin 1s linear infinite; 
}
@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}