
.registration-container {
  position: absolute;

  left: calc(50%);
  top: calc(50%);

  width: 80%;
  height: 70%;

  border-radius: 15px;

  transform: translate(-50%, -50%);
}
.registration-mask {
  overflow: clip;
  max-width: 100%;
  max-height: 100%;

  mask-image: radial-gradient(
    ellipse at center,
    black 60%,
    transparent 90%
  );
}

.registration-username {
  position: absolute;

  left: calc(50%);
  top: calc(50px);

  width: 25%;
}
.registration-password {
  position: absolute;

  left: calc(50%);
  top: calc(165px);

  width: 25%;
}
.registration-re-password {
  top: calc(220px);
}
.registration-submit {
  position: absolute;

  left: calc(50%);
  bottom: calc(10%);

  width: 25%;
  cursor: pointer;
}
.registration-title {
  position: absolute;

  left: calc(25%);
  top: calc(5%);

  width: 50%;

  font-size: 48px;

  color: #616572;

  display: flex;
  align-items: center;
  justify-content: center;
}