
.homepage-myactivity-button {
  cursor: pointer;
  position: absolute;

  bottom: -85px;
  left: calc(25px);

  height: 50px;
  width: 50px;
  padding: 0px;
  
  border-radius: 50px;
}
.homepage-myactivity-1-search {
  position: absolute;
  transform: none;
  width: calc(50px + 15%);

  padding: 0px;
}
.homepage-myactivity-1-search input {
  height: 100%;
  width: calc(100% - 45px);

  left: 50px;

  background: none;
  border: none;
  padding: 0%;
  margin: 0%;

}
.homepage-myactivity-1-search button {
  height: 100%;
  width: 40px;

  background: none;
  border: none;
  
  padding: 0%;
  margin: 0%;

}
.homepage-myactivity-1-sortby {
  position: absolute;

  left: calc(55px + 15%);
}

.homepage-myactivity-1-container {
  position: absolute;
  transform: none;

  bottom: 0px;

  overflow-y: hidden;
  overflow-x: auto;

  height: calc(100% - 85px);
  width: 100%;
}

.homepage-myactivity-1-1 {
  position: absolute;
  transform: none;

  bottom: 0px;

  height: 100%;
  width: calc(100px + 20%);
}

.homepage-myactivity-1-2 {
  position: absolute;

  bottom: 0px;
  left: calc(20% + 105px);

  height: 100%;
  width: calc(70% + 200px);
}

.homepage-myactivity-2-1 {
  position: absolute;
  transform: none;

  top: 55px;

  height: 200px;
  width: calc(100%);
}

.homepage-myactivity-2-2 {
  position: absolute;
  transform: none;

  top: 260px;

  height: calc(100% - 260px);
  width: calc(100%); 
}

.homepage-myactivity-3-1 {
  position: absolute;
  transform: none;

  height: 300px;
  width: calc(100%);
}


.homepage-myactivity-3-export {
  position: absolute;
  transform: none;

  width: 220px;

  right: 0px;
  bottom: 0px;
}